
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
  

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter sans-serif;
  }
  /* header start */

  .container{
  max-width: 1065px;
  margin: 0 auto;
}
header{
 margin: auto;   
background-image: url("../img/Ellipse 2 (1).jpg");
background-size: cover;
background-repeat: no-repeat;


}
  /*navbar  */
.content{
  display:flex;
  justify-content: space-between;
  /* gap: 50px; */
  align-items: center;
 padding: 50px 0;
  margin: auto;
  
}
.logo-left h1{
  


}
.icon {
  display: none;
}
.logo-right{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-right ul{
   display: flex;
  justify-content: space-between;
  align-items: center; 
  list-style: none;
  /* margin: auto; */
  column-gap: 45px;
}
.logo-right ul li{
 
}
.logo-right ul li a{
  text-decoration: none;
  color: #272D38;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27.5px; /* 152.778% */

}

.header-text h1{
  width: 540px;
  color: #272D38;
  font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 64px */
/* text-transform: capitalize; */

}
.header-text{
  display:block;
  justify-content: space-around;
  margin-top: 85px;
  flex-wrap: wrap;  

}
.header-text img img{
 width: 70%;

}

.header-paragrph {
  width: 525px;
  height: 56px;
}
.header-paragrph p{
  color: #272D38;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27.5px; 
text-transform: capitalize;
margin-top: 24px;
}
.block{
  display: flex;
  justify-content: space-around;
  column-gap:70px;
}
.btn-header{
  margin-top: 39px;
}
.btn-header button{
  width: 167px;
  height: 48px;
  border-radius: 8px;
  background: #8EADD5;
  color: #FFF;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 27.5px; /* 171.875% */
text-transform: uppercase;
border: none;
}
.header-booton{
  text-align: center;
  margin-top: 200px;
}
.header-booton-img {
  display: flex;
  width: 915px;
justify-content: center;
margin: auto;
  margin-top: 35px;
border-radius: 8px;
background: #F6F6F6;
border-radius: 8px;
gap: 50px;
}
.header-booton-img img{
  background: #F6F6F6;
   font-size: 32px;
  
}
.imgs{
  display:flex; 
  justify-content: space-between;
 column-gap: 100px;
}

/* end header */
/* start section */

.design-content{
  width: 1065px;
  display: flex;
  
}
.design-logo{
  display: flex;
  margin: auto;
  margin-top: 130px;
}
.design-logo img{
  width: 130%;
}
.design-paragrph{
  display: block;
  margin: auto;
}
.design-paragrph h1{
  margin-top: 130px;
  width: 435.687px;
  color: #272D38;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 48px */

}
.design-paragrph p{
  width: 392.217px;
margin-top: 25px;

  color: #272D38;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 27.5px; /* 171.875% */
text-transform: capitalize;

}
.design-paragrph i {
  margin-top: 45px;
  font-size: 24px;
}
/* end design */
/* start custome */

.custome-content{
  display: flex;
  flex-direction:row-reverse;
  margin: auto;
  align-items: center;
  gap: 170px;
}
.custome-logo{
  display: flex;
  margin: auto;
  margin-top: 130px;
}
.custome-paragrph h1{
  margin-top: 130px;
  /* margin-top: -60px; */
  width: 435.687px;
  color: #272D38;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 48px */
text-transform: capitalize;
}
.custome-paragrph p{
  width: 392.217px;
margin-top: 25px;
color: #272D38;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 27.5px; /* 171.875% */
text-transform: capitalize;

}
.custome-paragrph i {
  margin-top: 45px;
  font-size: 24px;
}
     
/* start testimonials */
 
.block-content{
  display: flex;
  gap: 15px;
}

.testimonials-logo{
  text-align: center;
}
h5{
/* margin-top: 150px; */
color: #272D38;

}
.testimonials-logo{
  margin-top: 12px;
}
.testimonials-logo h1{
  width: 435.687px;
padding: 18px 0;
  color: #272D38;
/* text-align: center; */
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 48px */
text-transform: capitalize;
margin: auto;
}
.western-man-content{
  border-radius: 20px;
background: #F6F6F6;
  text-align: center;
  width: 345px;
height: 334px;
margin-top: 40px;
}

.western-man-content h3{
margin-top: 8px;
  
  font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27.5px; /* 152.778% */
text-transform: capitalize;
}
.western-man-content p{
  width: 281px;
height: 77px;
display: flex;
justify-content: center;
color: #272D38;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 130%; /* 18.2px */
text-transform: capitalize;
margin: auto;
padding: 28px 0;
}
.western-man-content img{
  margin-top: 32px;
}

/* end  testimonials*/

/* start  customer-support */
.customer-support-content{
  display: flex;
  width: 1065px;
border-radius: 20px;
background: #F6F6F6;
  /* flex-direction:row-reverse; */
  margin: auto;
  margin-top: 150px;
  align-items: center;
  gap: 170px; 
}
.customer-support-logo{
  display: flex;
  margin: auto;
  margin-top: 130px;
}
.customer-img h1{
  margin-top: 130px;
  /* margin-top: -60px; */
  width: 435.687px;
  color: #272D38;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 48px */
text-transform: capitalize;
}
.customer-img p{
  width: 392.217px;
margin-top: 25px;
color: #272D38;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 27.5px; /* 171.875% */
text-transform: capitalize;

}
.customer-img button{
  width: 167px;
  height: 48px;
  border-radius: 8px;
  background: #8EADD5;
  color: #FFF;
text-align: center;
font-family: Inter;
margin-top: 42px;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 27.5px; /* 171.875% */
text-transform: uppercase;
border: none;
}
/* end testimonials */

/* start footer */
.footer-content{
  /* display: flex; */
  /* margin: auto; */
  display:flex;
  justify-content: center;
  gap: 100px;
 flex-wrap: wrap;
 background: #F6F6F6;
 margin-top: 150px;
/* gap: -20px;   */

}

.footer-content p{
  /* text-align: center; */
}
.footer-logo{
  
  /* margin: auto; */
}
.bock{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
gap: 175px;

}
.logo-s {
  margin-top: 40px;

}
.logo-s p{
  
padding: 15px 0;
  color: #272D38;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 24px */
text-transform: capitalize;
}
 .footer-content p{
  padding: 10px 0; 
  color: #272D38;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 100%; /* 16px */
}
.logo-ss{
  margin-top: 40px;
}
.logo-ss p{
  padding: 5px 0;
} 

/* media queries start */
@media screen and (max-width:480px) {
  
  .logo-right ul li a{
    display: none;
  }
  .icon {
    display: flex;
    font-size: 2rem;
  }
  .block{
    width: 100%; 
    /* flex-wrap: wrap; */
    flex-direction: column;
    text-align: center;
   }
  .header-text img img{
  width: 100%;
  
  
  } 
  .header-text h1{
    /* display: none; */
    width: 100%; 
    color: #272D38;
text-align: center;
font-family: Inter;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 100%; 
text-transform: capitalize;
  }
  .header-paragrph {
    width: 100%; 

  }
  .header-paragrph p{
    color: #272D38;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: 27.5px; /* 171.875% */
    text-transform: capitalize;
    /* width: 378px; */
    
  }
  
 
  
  .btn-header{
    /* width: 140px; */
   
    text-align: center;
   
    
  }
  .btn-header button{
   
    border-radius: 8px;
    background: #8EADD5;
  }
  
 


  .header-booton{
    width: 100%; 

    text-align: center;
    margin-top: 100px;
  }
  .header-booton p{
    color: #667085;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 100%; /* 14px */
text-transform: capitalize;
  }
  .header-booton-img {
    width: 100%; 

   /* height: 76px; */
   text-align: center;
   
   
   
  }
  .header-booton-img img{
    width: 100%; 

    background: #F6F6F6;
    text-align: center;
  }
  .imgs{

    align-items:center;
    padding: 30px;

  gap: 65px;

  }
  .imgs img{
    width: 60px;
    height: 34px; 
    text-align: center;
    }
    .design-paragrph{
      text-align: center;
      width: 100%; 

    }
    .design-content{
      width: 100%; 

      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
    .design-paragrph h1{
      /* display: none; */
      width: 380px;
      height: 76px;
      color: #272D38;
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 32px */
text-transform: capitalize;
      
    }

    .design-paragrph p{
      width: 380px;
    height: 53px;
      color: #272D38;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px; /* 196.429% */
    text-transform: capitalize;
    }
    .design-paragrph i{
      width: 21.537px;
      transform: rotate(90.101deg);
      text-align: center;
    }
   

    
    .design-logo img{
      width:100%;
    }
   
.custome-content{
  width: auto;
       flex-wrap: wrap; 
      text-align: center;
      flex-direction: column-reverse; 
}
.custome-paragrph h1{
  width: 380px;
height: 76px;
flex-shrink: 0;
  color: #272D38;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 32px */
  text-transform: capitalize;
}
.custome-paragrph p{
  width: 380px;
height: 53px;
  color: #272D38;
text-align: center;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 27.5px; /* 196.429% */
text-transform: capitalize;
}
.custome-paragrph i{
  /* width: 21.537px; */
  transform: rotate(90.101deg);
  text-align: center;
}
/* testimonials */
.testimonials-logo h1{
  width: 380px;
height: 65px;
  color: #272D38;
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 32px */
text-transform: capitalize;
}
.testimonials-content{
  width: auto;
       flex-wrap: wrap; 
      text-align: center;
      /* flex-direction: column-reverse;   */
}
.western-man-content p{
  color: #272D38;
text-align: center;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 130%; /* 18.2px */
text-transform: capitalize;
}
.block-content{
  width: auto;
  text-align: center;
  flex-wrap: wrap;
  /* flex-direction: column-reverse; */
}
.western-man-content{
  /* width: auto; */
  text-align: center;
  width:100%;
height: 334px;
}
.customer-support-content{
  width: auto;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column-reverse; 
}
.customer-img h1{
  font-size: 32px;
  width: 309px;
height: 65px;
 

}
.customer-img p{
  width: 309px;
height: 52px;
  color: #272D38;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 27.5px; /* 171.875% */
}
.customer-support-logo{
  display: none;
}
.bock{
  width: auto;
  text-align: center;
  flex-wrap:wrap;
  gap:50px;
  flex-direction: column; 
}
.footer-logo{
  text-align: center;
  /* flex-wrap: wrap; */
  display: block;
  flex-wrap: wrap;

}
  }